In [2]:
import pandas as pd

In [46]:
df = pd.read_csv('for_rfm.csv',sep=';')
df.head()

   user_id  period_from_last_ord  freq avg_price
0   337544                   423   1.0   1243,55
1   171642                     6   1.0   1293,09
2   260596                    91   1.0     718,9
3  1105609                   730   NaN     752,5
4   982696                   730   NaN    4410,0

In [47]:
df['avg_price'].replace(regex=',', value='.', inplace=True)
df['avg_price'] = pd.to_numeric(df['avg_price'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015119 entries, 0 to 1015118
Data columns (total 4 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   user_id               1015119 non-null  int64
 1   period_from_last_ord  1015119 non-null  int64
 2   freq                  206445 non-null   float64
 3   avg_price             1015119 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 31.0 MB

In [48]:
df.loc[df["period_from_last_ord"] < 30, "Recency"] = 3
df.loc[df["period_from_last_ord"].between(30, 60), "Recency"] = 2
df.loc[df["period_from_last_ord"] > 60, "Recency"] = 1

In [49]:
df.loc[df["freq"] > 2, "Frequency"] = 3
df.loc[df["freq"] == 2, "Frequency"] = 2
df.loc[df["freq"] == 1, "Frequency"] = 1

In [50]:
df.loc[df["avg_price"] > 2000, "Monetary"] = 3
df.loc[df["avg_price"].between(500, 2000) , "Monetary"] = 2
df.loc[df["avg_price"] < 500, "Monetary"] = 1

In [51]:
df["Frequency"] = df["Frequency"].fillna(0)

In [52]:
df['Recency'] = df['Recency'].astype('int')
df['Frequency'] = df['Frequency'].astype('int')
df['Monetary'] = df['Monetary'].astype('int');

In [53]:
# df.drop(df.columns[[1,2,3]], axis='columns', inplace=True)
# df.head(3)

In [54]:
df['Recency'] = df['Recency'].astype('str')
df['Frequency'] = df['Frequency'].astype('str')
df['Monetary'] = df['Monetary'].astype('str');

In [55]:
df["rfm"] = df["Recency"].map(str) + df["Frequency"] + df['Monetary']

In [56]:
df.head(3)

,user_id,period_from_last_ord,freq,avg_price,Recency,Frequency,Monetary,rfm
0,337544,423,1.0,1243.55,1,1,2,112
1,171642,6,1.0,1293.09,3,1,2,312
2,260596,91,1.0,718.90,1,1,2,112

In [43]:
df['rfm'].nunique()

36

In [71]:
df.to_csv('for_rfm_2.csv')

In [76]:
df_2 = df.groupby('rfm').agg({'user_id': 'count', 'avg_price': 'sum'})
df_2 = df_2.rename(columns={
    'user_id': 'кол-во пользователей в группе',
    'avg_price': 'сумма ТО в группе'})
df_2

     кол-во пользователей в группе  сумма ТО в группе
rfm
101                          89839       2.884936e+07
102                         337852       3.920321e+08
103                         224146       1.088471e+09
111                           6930       2.521825e+06
112                          72418       8.890277e+07
113                          51465       2.131507e+08
121                            380       1.253827e+05
122                           2170       2.552825e+06
123                           1947       1.063653e+07
131                            105       3.540086e+04
132                            409       4.847116e+05
133                            408       2.398748e+06
201                           6951       2.391888e+06
202                          33021       3.833222e+07
203                          24576       1.150183e+08
211                            641       2.482406e+05
212                          14198       1.828648e+07
213                          12022       4.870791e+07
221                             24       8.510660e+03
222                            209       2.594925e+05
223                            248       1.226348e+06
231                              5       1.509120e+03
232                             31       3.594196e+04
233                             42       2.001908e+05
301                           9150       3.148478e+06
302                          49457       5.689548e+07
303                          33682       1.410356e+08
311                            938       3.707200e+05
312                          23042       2.960555e+07
313                          17975       6.773322e+07
321                             38       1.266324e+04
322                            336       4.038771e+05
323                            312       1.607058e+06
331                              8       3.158560e+03
332                             58       6.570599e+04
333                             86       3.628423e+05

In [78]:
df_2.to_excel('for_rfm_2.xlsx')