# Задача

Задание на подумать.
Есть таблица:

- user_id tel email
- 1 123 1@mail.ru
- 2 124 1@mail.ru
- 3 123 2@mail.ru
- 4 123 3@mail.ru

Мы все понимаем (если учесть, что пользовтель специально не вставлял чужые номера или емаилы), что все эти user_id - это один и тот же пользоватль.

Вопрос - как напистаь скрипт (или просто логика) как объединить этих пользователей, что потом можно было анализировать продажи по всем аккаунтам челока (это называется мердж данных)

Кусок данных в материалах к уроку.

Задание на подумать) ломаем голову

# Подготовка

## Подключение библиотек

In [1]:
import pymysql.cursors
import pandas as pd
from pprint import pprint
import matplotlib.pyplot as plt
import getpass

## Подключение к базе данных

In [2]:
# password_mysql = getpass.getpass(prompt="Введите пароль от MySQL-сервера: ")
password_mysql = "pass123"
mydb = pymysql.connect(host="127.0.0.1",
                             user='root',
                             password=password_mysql, 
                             db='db_analyt_loc',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
 
print ("connect successful!!")

connect successful!!

In [3]:
def show_tables():
    return pd.read_sql("""SHOW TABLES FROM db_analyt_loc;""", con=mydb)
show_tables()

  Tables_in_db_analyt_loc
0         orders_20190822
1              orders_all
2             time_user_b
3          time_user_ym_s
4          users_for_merg

In [4]:
pd.read_sql(f"SELECT * FROM users_for_merg", con=mydb)

   id_u             email     tel
0     1     12345@mail.ru     123
1     2     12345@mail.ru     124
2     3    123456@mail.ru     124
3     4   1234567@mail.ru     124
4     5  12345678@mail.ru     124
5     6    123456@mail.ru  123435
6     7    123456@mail.ru  235123
7     8    123456@mail.ru  534534

In [6]:
pd.read_sql(
    """
    SELECT ufm.id_u, MIN(ufm1.id_u) AS vid
      FROM users_for_merg ufm
      JOIN users_for_merg ufm1
      ON ufm.tel = ufm1.tel;
    """, con=mydb)

   id_u  vid
0     1    1

# Закрытие сессии

In [7]:
mydb.close()