In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('for_rfm.csv',sep=';')
df.head()

   user_id  perid_from_last_ord  count_orders avg_price
0   337544                  423             2   1243,55
1   171642                    6            33  1293,091
2   260596                   91            12     718,9
3  1105609                  730             1     752,5
4   982696                  730             1    4410,0

In [24]:
df.loc[df["perid_from_last_ord"] < 30, "Recency"] = 3
df.loc[df["perid_from_last_ord"].between(30, 60), "Recency"] = 2
df.loc[df["perid_from_last_ord"] > 60, "Recency"] = 1

In [ ]:
df.loc[df["perid_from_last_ord"] < 30, "Recency"] = 3
df.loc[df["perid_from_last_ord"].between(30, 60), "Recency"] = 2
df.loc[df["perid_from_last_ord"] > 60, "Recency"] = 1